img {
    bottom: 10px;
}

img,
.menu {
    line-height: 30px;
}


.help-container h1 {
    margin-bottom: 25px;
    padding-top: 80px;
    text-align: center;
}

.help-container li {
    line-height: 1.6;
    line-break: normal;
}

.btn-start {

    text-align: center;
    padding-top: 50px;
    font-size: 3.5rem;
    color: blue;
}

.btn-start a:hover {
    color: green;
}