img {
    bottom: 10px;
}

img,
.menu {
    line-height: 20px;
}


.help-container h1 {
    margin-bottom: 25px;
    padding-top: 80px;
    font-size: small;
    text-align: center;
}

.help-container li {
    line-height: 1.6;
    line-break: normal;
    font-size: 1.5rem;
}

.btn-start {

    text-align: center;
    padding-top: 50px;
    font-size: 3.5rem;
    color: blue;
}

.btn-start a:hover {
    color: green;
}



@media only screen and (max-width: 1200px) {

    .help-container li {
        line-height: 1.6;
        line-break: normal;
        font-size: 1.5rem;

    }
}

@media screen and (max-width: 414px) {

    .btn-start {

        font-size: 3rem;

    }

}