 h1 {

     text-align: center;
     padding-top: 55px;
     padding-right: 65px;
 }

 .menu li {


     padding-left: 0;
     margin: 3%;
     font-size: 3.5vmin;
 }


 .heading {
     font-size: 3rem;


 }

 div#question.quest {
     margin-left: 4rem;
     font-size: 1.5rem;
 }

 .questions {

     margin: 3rem 2rem;
     width: 70vw;
     padding: 2rem;
     border-radius: 4rem;
     border: 1px solid black;
 }


 .option {
     margin-bottom: 1.0rem;
     margin-left: -2rem;
     font-size: 1.2rem;
     border-bottom: solid 0.1rem black;
     width: 32rem;
     height: 4vh;
     background: skyblue;
     border-radius: 1rem;
     padding: 0.5rem;
 }

 .option:hover {
     color: blueviolet;
 }


 span {
     display: block;
     padding: 0.1rem 0.7rem;
     border-radius: 1rem;
 }

 #answer {
     margin-top: 2.5rem;
 }

 .stat {
     margin-top: 1.5rem;
     color: rgb(6, 17, 168);
     font-size: 2rem;
     margin-left: 15rem;
 }



 button {
     padding: 0.2rem 4rem;
     border: none;
     outline: none;
     font-size: 1.5rem;
     border-radius: 1.5rem;
     color: white;
     background: blue;
     margin-bottom: 7rem;
     margin-left: 26px;
 }

 .next {
     margin-bottom: 18px;
     color: white;
     margin-left: 205px;
 }


 button:active {
     background: lavender;
 }

 .score-section,
 .answerbank {
     width: 43rem;
     background: lightskyblue;
     padding: 2rem;
     text-align: center;
     margin: auto;
     position: relative;
     top: 5rem;
     display: none;
     height: 80vh;
 }

 table {
     width: 100%;
     border-collapse: collapse;

 }

 td {
     border: 1px solid #04AA6D;
     text-align: left;
     padding: 0.5rem;
 }

 .score-title {
     margin: 1rem 0;
 }

 .score-btn,
 .check-answer {
     margin-top: 1rem;
     padding: 0.20000000000000284rem 1rem;
     margin-left: 21px;
 }

 #score {
     font-size: 2.5rem;
 }



 .answers {
     margin-top: 1rem;
 }

 /* Progress Bar */

 .status-item {

     display: flex;
     justify-content: flex-start;
     height: fit-content;
     align-items: end;
     line-height: normal;
 }

 .progress-div {
     display: flex;
     align-items: flex-start;
     justify-content: space-around;
     flex-direction: column;
 }


 .status-prefix {

     font-size: 1rem;

 }

 #progressBar {
     text-align: center;
     width: 11rem;
     height: 6vh;
     border: 0.3rem solid #56a5eb;
     margin-left: 15rem;
 }

 #progressBarFull {

     background-color: #56a5eb;
     width: 0%;
     height: 6vh;
 }




 /*Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {


     .menu li {

         margin: 2%;
     }
 }


 /*Media query for screens of 1200px and down*/
 @media screen and (max-width: 1200px) {

     .menu li {

         margin: 2%;

     }

     .questions {
         width: 70vw;

     }

 }

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {


     .questions {


         height: 69vw;
     }

     .option {
         width: 100%;
         margin-bottom: 10px;
         height: 9vw;
     }
 }

 @media screen and (max-width: 768px) {
     h1 {
         padding-top: 120px;

     }

     .questions {
         height: 78vw;
     }

     .option {
         width: 100%;
         margin-bottom: 10px;
         height: 8vw;
     }

     .next {

         margin-left: 92px;
     }

     .stat {
         margin-top: auto;
         margin-left: 5rem;
     }

     #progressBar {

         margin-left: 5rem;
     }

     #score-btn,
     #check-answer {
         margin-top: 1rem;
         padding: 0.20000000000000284rem 1rem;
         margin-bottom: 2rem;
         margin-left: 25px;
     }
 }

 @media screen and (max-width: 414px) {

     .menu li {

         padding-left: 4px;
         margin: 3.2%;
         font-size: 3.5vmin;
         letter-spacing: 4px;

     }

     .questions {
         height: 110vw;
         width: auto;
     }

     .option {

         height: 15vw;

     }

     .next {

         margin-left: 92px;
     }

     .stat {
         margin-top: auto;
         margin-left: 5rem;
     }

     #progressBar {

         margin-left: 5rem;
     }

     .status-item {
         display: grid;

         width: 60vw;
         height: 70vw;

     }

     .progress-div {
         display: grid;
         width: 82vw;
         height: 70vw;
     }

     .score-section,
     .answerbank {

         width: 24rem;
         margin-left: -32px;
     }

     score-btn,
     #check-answer {
         margin-left: 19px;
     }
 }