 h1 {

     text-align: center;
     padding-top: 95px;
     padding-right: 65px;
     margin-right: 24px;
 }

 .menu li {

     padding-left: 0;
     margin: 3%;
     font-size: 3.5vmin;
 }


 .heading {
     font-size: 3rem;
     padding-right: 5px;

 }



 /* Quiz box */

 div#question.quest {
     margin-left: 4rem;
     font-size: 1.5rem;
 }

 .questions {

     margin: 3rem 2rem;
     width: 70vw;
     padding: 2rem;
     border-radius: 4rem;
     border: 1px solid black;
 }


 .option {
     margin-bottom: 1.0rem;
     margin-left: -2rem;
     font-size: 1.2rem;
     border-bottom: solid 0.1rem black;
     width: 32rem;
     height: 4vh;
     background: skyblue;
     border-radius: 1rem;
     padding: 0.5rem;
 }

 .option:hover {
     color: blueviolet;
 }

 .answer {
     margin-top: 2.5rem;
 }

 /* Status and progress of the game */
 .stat {
     margin-top: 1.5rem;
     color: rgb(6, 17, 168);
     font-size: 2rem;
     margin-left: 15rem;
 }


 button {
     padding: 0.2rem 4rem;
     border: none;
     outline: none;
     font-size: 1.5rem;
     border-radius: 1.5rem;
     color: white;
     background: blue;
     margin-bottom: 7rem;
     margin-left: 26px;
 }

 .next {
     margin-bottom: 18px;
     color: white;
     margin-left: 205px;
 }


 button:active {
     background: lavender;
 }

 /* Progress Bar */

 .status-item {

     display: flex;
     justify-content: flex-start;
     height: fit-content;
     align-items: end;
     line-height: normal;
 }

 .progress-div {
     display: flex;
     align-items: flex-start;
     justify-content: space-around;
     flex-direction: column;
 }


 .status-prefix {

     font-size: 1rem;

 }

 .progressBar {
     text-align: center;
     width: 11rem;
     height: 6vh;
     border: 0.3rem solid #56a5eb;
     margin-left: 15rem;
 }

 .progressBarFull {

     background-color: #56a5eb;
     width: 0%;
     height: 6vh;
 }



 /* Answerbank and scoreboard */
 .score-section,
 .answerbank {
     width: 43rem;
     padding: 2rem;
     text-align: center;
     margin: auto;
     position: relative;
     top: 5rem;
     display: none;
     height: 80vh;
     overflow: auto;
     z-index: 1;
 }


 .score-title {
     margin: 1rem 0;
 }

 .score-btn,
 .check-answer {
     margin-top: 1rem;
     padding: 0.20000000000000284rem 1rem;
     margin-left: 21px;
 }

 .score {
     font-size: 3.5rem;
 }

 .answers {
     margin-top: 1rem;
 }

 /* Answertable */

 table {
     width: 100%;
     border-collapse: collapse;
     margin: 33px 4px;
     font-size: 1em;
     box-shadow: 0 0 20px rgb(0 0 0 / 15%);
     background-color: skyblue;
     padding: 33px 28px;
     color: black;
     text-align: left;
 }



 td {
     border: 4px solid #0433aa;
     text-align: left;
     padding: 0.5rem;
 }

 /*Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {


     .menu li {

         margin: 2%;
     }

     .container {
         margin-left: 80px;
     }

 }


 /*Media query for screens of 1200px and down*/
 @media screen and (max-width: 1200px) {

     .menu li {

         margin: 2%;

     }

     .container {
         margin-left: 40px;
     }

     .progressBar {

         width: 20rem;
     }

     .questions {
         width: 70vw;

     }

 }

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {


     .questions {

         height: 69vw;
     }

     .option {
         width: 100%;
         margin-bottom: 10px;
         height: 9vw;
     }

     .option:hover {
         text-decoration: none;

     }

 }

 @media screen and (max-width: 768px) {
     h1 {
         font-size: 4rem;
         padding-top: 120px;

     }

     .container {
         margin-left: 10px;
     }

     .questions {
         height: 60vw;
     }

     .option {
         width: 100%;
         margin-bottom: 10px;
         height: 8vw;
     }

     .next {

         margin-left: 92px;
     }

     .stat {
         margin-top: auto;
         margin-left: 5rem;
     }

     .progressBar {

         margin-left: 5rem;
     }

     .score-btn,
     .check-answer {
         margin-top: 1rem;
         padding: 0.20000000000000284rem 1rem;
         margin-bottom: 2rem;
         margin-left: 25px;
     }
 }

 @media screen and (max-width: 414px) {

     .menu li {

         padding-left: 4px;
         margin: 2.2%;
         font-size: 4.5vmin;
         letter-spacing: 2px;

     }

     div#question.quest {
         margin-left: 2rem;
         font-size: 1.5rem;
     }

     .questions {
         height: 110vw;
         width: auto;
     }

     .option {

         height: 15vw;

     }

     .option:hover {
         text-decoration: none;

     }

     .next {

         margin-left: 110px;
     }

     .stat {
         margin-top: auto;
         margin-left: 5rem;
     }

     .progressBar {

         margin-left: 5rem;
     }

     .status-item {
         display: grid;
         width: 60vw;
         height: 70vh;

     }

     .progress-div {
         display: grid;
         width: 82vw;
         height: 30vw;
     }

     .score-section,
     .answerbank {

         width: 24rem;
         margin-left: -32px;
         padding: 0rem;
     }

     .score-btn,
     .check-answer {
         margin-left: 19px;
     }

     table {
         width: 40%;
         font-size: 0.9em;
         margin-left: 1rem;
     }
 }